#container-person{
    display: flex;
    justify-content: center;
    background-color: #fff;
}
#form-person{
    display: flex;
    flex-direction: column;
    align-items: left;
    /* border: solid rgb(204, 185, 185) 1px; */
    width: 90%;
    height: 100%;
    padding: 3px;
}
#form-person input{
    border: solid 1px rgb(235, 223, 223);
    height: 36px;
    margin: 1px;
}

#form-person label{
    margin-top:16px;
    font-size: 12px;
}

#form-person-input-number{
    width: 100px;
}