#home-form {
    display:flex;
    padding: 1px;
    position: relative;
    top: 26px;
    right: 12px;
    width: 300px;
    height: 360px;
    color:rgb(75, 74, 74);
    margin-top: 130px;
}

@media screen and (max-width:768px) {
    #home-form {
        top:1px;
        left: 14px;
        margin-top:0px;
    }
}

#home-form-input input {
    display: flex;
    height: 36px;
    width: 230px;
    border-radius: 2px;
}

#home-form-label label {
    font-size: 12px;
}

#home-form-button {
    margin-top: 6px;
}