#home-main-container {
    background-color: black;
    color:white;
    padding: 0px;
    margin: 0px;
}

#home-main {
    display: flex;
    padding: 0px;
    width: 100%;
}

#home-header {
    padding: 58px;
    background-image: url("/public/img/carousel/banner2.png");
}

@media screen and (max-width:768px) {
    #home-header{
        padding: 18px;
    }
}

#home-header-btn{
    border-radius: 0px;
    padding: 12px;
}


@media screen and (max-width:768px) {
    #home-main {
        display: inline;
    }
}

#home-div1 {
    padding: 18px;
    font-size: 18px;
}

#home-div2 {
    padding: 12px;
}

#home-cards {
    padding: 12px;
}

#home-cards-title {
    font-size: 43px;
    padding: 16px;
}
@media screen and (max-width:768px) {
    #home-cards-title {
        font-size: 22px;
    }
}

#home-cards-content {
    font-size: 18px;
    padding: 12px;
}