#home-container-cards {
    display: inline-block;
    max-width: 100%;
    padding: 0 1px;
    width: 25%;
    min-width: 200px;
}

@media screen and (max-width:768px) {
    #home-container-cards {
        padding: 0 1px;
        width: 50%;
        min-width: 191px;
    }
}

#home-main-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 14px; 
    font-size: 12px;
    margin-bottom: 1px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 1px;
    padding: 12px;
    width: 100%;
}

#home-cards-btn {
    margin: 1px;
}