#home-pfh-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 228, 238);
    color: rgb(14, 13, 13);
    padding: 16px;
    margin: 16px;
    border-radius: 6px;
    border: 1px solid gray;
}

#home-pfh-main {
    display: flex;
}

@media screen and (max-width:768px) {
    #home-pfh-main {
        display: inline;
        font-size: 12px;
    }
}

#home-pfh-content {
    width: 100%;
    margin: 12px;
}

#home-pfh-form {
    padding: 1px;
    width: 100%;
    margin:12px;
}

#home-pfh-input input {
    display: flex;
    margin-inline: -2px;
    height: 36px;
    width: 320px;
    border-radius: 6px;
}

#home-pfh-label label {
    margin-top: 6px;
}

#home-pfh-button {
    margin: 1px;
}

#home-pfh-send-msg{
    font-size: 12px;
    margin-top: 12px;
    margin-inline: 12px;
    color: red;
}
