.carousel-img-banner {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:768px) {
    .carousel-img-banner {
        width: 100%;
        height: 100%;
    }
}

#carousel-div {
    background-color: white;
    color: white;
}

#carousel-item1 {
    /* background-image: url("/public/img/carousel/carousel_web.png"); */
    background-color: white;
    color: black;
}

#carousel-item2 {
    /* background-image: url("/public/img/carousel/carousel_web.png"); */
    background-color: white;
    color: black;
}

#carousel-item3 {
    /* background-image: url("/public/img/carousel/carousel_web.png"); */
    background-color: white;
    color: black;
}

#carousel-item1-div {
    padding: 12px;
    margin: 12px;
}

#carousel-item2-div {
    padding: 12px;
    margin: 12px;
}

#carousel-item3-div {
    padding: 12px;
    margin: 12px;
}