#form-newsLetter{
    padding:12px;
    border-radius:6px;
    border:0px solid gray
}

#input-newsLetter{
    font-Size:16px;
    width: 56%;
    height: 46px;
    border-radius: 12px 0px 0px 12px;
}

#button-newsLetter{
    width: 18%;
    height:46px;
    border-radius: 0px 12px 12px 0px;
}