#invoice-header{
    padding: 16px;
    margin-inline: 18px;
    border-radius: 8px;
    font-size: 18px;
}

#installments{
    padding: 6px;
    margin: 12px;
    margin-inline: 18px;
    font-size: small;
}

#persons{
    padding: 6px;
    margin:12px;
    margin-inline: 1px;
    font-size: small;
}